<%- include("partials/header.ejs")%>
    <section>
        <div class="landing-container">
            <div class="landing-text">
                <h1>Create your first blog in a responsive website with backend created using Node.js and Express.</h1>
            </div>
            <div class="landing-buttons-container">
                <a href="/create-post" class="landing-button">Create a post</a>
                <a href="/view-posts" class="landing-button">View your posts</a>
            </div>
        </div>
    </section>


<%- include("partials/footer.ejs")%>